<div class="services-container">
<h3>{{title}} Servcies</h3>
<div class="card service">
    <img
    src="https://source.unsplash.com/random"
    class="d-block w-100 img-fluid card-img-top"
    alt="..."
  />
    <div class="card-body">
      <h5 class="card-title mb-3">
        Home cleaning Servcie
      </h5>
      <h6 class="card-subtitle mb-2">&#8377; 2000/-</h6>
      <p class="card-text"> Description</p>
    </div>
    <div class="card-footer">
      <a (click)="addToCart('service')">Add to cart</a>
    </div>
  </div>
<div class="card service">
    <img
    src="https://source.unsplash.com/random"
    class="d-block w-100 img-fluid card-img-top"
    alt="..."
  />
    <div class="card-body">
      <h5 class="card-title mb-3">
        Bathroom cleaning Service
      </h5>
      <h6 class="card-subtitle mb-2">&#8377; 2000/-</h6>
      <p class="card-text"> Description</p>
    </div>
    <div class="card-footer">
      <a (click)="addToCart('service')">Add to cart</a>
    </div>
  </div>
<div class="card service">
    <img
    src="https://source.unsplash.com/random"
    class="d-block w-100 img-fluid card-img-top"
    alt="..."
  />
    <div class="card-body">
      <h5 class="card-title mb-3">
        Pest Control Service
      </h5>
      <h6 class="card-subtitle mb-2">&#8377; 2000/-</h6>
      <p class="card-text"> Description</p>
    </div>
    <div class="card-footer">
      <a (click)="addToCart('service')">Add to cart</a>
    </div>
  </div>
</div>