<div class="home-container w-100 h-100">
  <div
    id="carouselExampleIndicators"
    class="carousel slide mb-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://source.unsplash.com/random"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://source.unsplash.com/random"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://source.unsplash.com/random"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p class="d-flex justify-content-between">
    <strong class="fs-5">Top Categories</strong><span>view all</span>
  </p>
  <div class="top-categories row text-center mb-4">
    <div *ngFor="let category of topCategories" (click)="navigateToServices(category.name)" class="top-category col-3">
      <div class="svg w-100 p-2 rounded-3">
        <img src="../../../assets/images/FrameCarpenter.png" class="img-fluid" />
      </div>
      {{category.name}}
    </div>
  </div>
  <div class="service-packages mb-4">
    <p class="d-flex justify-content-between align-items-center ">
        <strong class="fs-5">Service Packages</strong><span>view all</span>
      </p>
      <div class="card-slider d-flex">
              <div *ngFor="let service of servicePackages" class="card">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <img
                      class="svg"
                      src="../../../assets/images/worker-red.svg"
                    />
                  </h5>
                  <h6 class="card-subtitle mb-2 service-name text-muted">{{service.serviceName}}</h6>
                  <p class="card-text d-flex justify-content-between align-items-center ">{{service.cost}} <span class="d-flex"><mat-icon class="me-2">people</mat-icon>{{service.workers}}</span></p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <span *ngIf="!isInCart(service.serviceName)" (click)="addToCart(service)">Add to cart</span>
                  <span *ngIf="isInCart(service.serviceName)" (click)="removeFromCart(service)">Remove from cart</span>
                </div>
              </div>
      </div>
  </div>
  <div class="review-list mb-4">
    <p class="d-flex justify-content-between">
        <strong class="fs-5">Customer Reviews</strong><span>view all</span>
      </p>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between">
            <span>Pandey</span>
            <span>5.0</span>
        </div>
        <div class="card-body">
            <div class="card-title">
                Cleaning Service
            </div>
            <div class="card-text">
                Excellent Service
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <span>Pandey</span>
            <span>5.0</span>
        </div>
        <div class="card-body">
            <div class="card-title">
                Applaince Repair
            </div>
            <div class="card-text">
                Excellent Service
            </div>
        </div>
    </div>
  </div>
</div>
