<div class="card-container my-5 w-100 d-flex justify-content-center">
    <div class="card w-100">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h3 class="card-title">Set Password</h3>
            <div class="card-text w-100">
                <div class="my-4">
                    <label for="password" class="form-label text-muted">Password</label>
                    <input type="password" class="form-control" [(ngModel)] = "password" id="password">
                  </div>
                <div class="mb-3">
                    <label for="confirmpassword" class="form-label text-muted">Confirm Password</label>
                    <input type="password" class="form-control" [(ngModel)] = "confirmPassword" id="confirmpassword">
                  </div>
                <button type="button" class="btn btn-dark w-100" (click)="submitPassword()">Submit</button>
            </div>
        </div>
    </div>
</div>